<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>
    <h1>Admin</h1>
    <form action="{{ url_for('admin_dashboard') }}" method="POST" novalidate>
<form method="POST">
    {{ order_status_form.order_id.label }}: {{ order_status_form.order_id }}
    {{ order_status_form.status.label }}: {{ order_status_form.status }}
    {{ order_status_form.submit }}
</form>

<form method="POST">
    {{ product_update_form.code.label }}: {{ product_update_form.code }}
    {{ product_update_form.description.label }}: {{ product_update_form.description }}
    {{ product_update_form.availability.label }}: {{ product_update_form.availability }}
    {{ product_update_form.price.label }}: {{ product_update_form.price }}
    {{ product_update_form.submit }}
</form>
</body>
</html>

