<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='style.css')}} ">
    <title>{% block title %}{% endblock %}</title>
    <!-- Include any CSS files here -->
</head>
<body>
    <header>
        <!-- Include header content here -->
    </header>

    <!-- Flash message container -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="flash-messages">
        {% for category, message in messages %}
        <div class="flash-message flash-{{ category }}">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    <div class="container">
        {% block main %}
        {% endblock %}
    </div>

    <footer>
        <!-- Include footer content here -->
    </footer>
    <!-- Include any JavaScript files here -->
</body>
</html>
