<!---
Project 3: Zoo Web App
Add Animals Template
Authors:
    Kyler Kramer
    Sho Vang
-->



{% extends 'base.html' %}
{% block main %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Animal</title>
</head>
<body>

<h2>Add Animal</h2>

 <form action="{{ url_for('add_animals') }}" method="POST" novalidate enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="form-group">
        <label for="name">{{ form.name.label }}</label>
        {{ form.name(size=30, class="form-control") }}
    </div>
    <div class="form-group">
        <label for="type">{{ form.type.label }}</label>
        {{ form.type(size=30, class="form-control") }}
    </div>  
    <div class="form-group">
        <label for="locations">{{ form.locations.label }}</label>
        {{ form.locations(size=30, class="form-control") }}
    </div>
    <div class="form-group">
        <label for="description">{{ form.description.label }}</label>
        {{ form.description(size=30, class="form-control") }}
    </div>
    <div class="form-group">
        <label for="amount">{{ form.amount.label }}</label>
        {{ form.amount(size=30, class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.csrf_token }}
    </div>
    <div>
        {{ form.image(class="form-control-file") }}
        <input type="submit" value="Submit" class="btn btn-primary">
    </div>
    <div>
        {% if file_url %}
            <img src="{{ file_url }}" alt="Uploaded Image" class="img-fluid">
        {% endif %}
    </div>
</form>

<form methods="get" action="{{ url_for('index') }}">
    <button type="submit" class="option-btn">Home</button>
</form>

</body>
</html>

{% endblock %}
